* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Header */
header {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-bottom: 30px;
}

.logo img {
    max-height: 80px;
    margin-right: 20px;
    mix-blend-mode: multiply
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #8aae28;
}

/* Hero Section */
.hero {
    height: 100vh;
    width: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.7),
     rgba(0,0,0,0.3)), url('../image/caminhaofrota.jpg' ), no-repeat;

    background-size: cover;
    background-position: center;
    display: flex;
    margin-top: 90px;
}

.hero-content {
    text-align: center;
    color: #fff;
    max-width: 800px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero a {
    background: #8aae28;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    scroll-behavior: smooth;
}

.hero a:hover {
    background: #6f8f1f;
    cursor: pointer;
}

.container > h2{
    padding-bottom: 50px;
    justify-content: center;
    text-align: center;
}

.produtos {
    padding: 80px 0;
    background: #000000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    position: relative;
    overflow: hidden;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 680px;
    margin: auto;
}

.produtos-grid {
    display: flex;
    gap: 10px;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
    width: calc(220px * 6);
}

.produto-card {
    min-width: 220px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.produto-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #000000;
}

.produto-card p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #000000;
}

.produto-card:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: translateY(-5px) scale(1.02);
    transition: all 0.3s;
    border-radius: 8px;
}

.produto-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.produto-card img:hover {
    cursor: pointer;
    border-radius: 20px;
}

.seta-esquerda, .seta-direita {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: white;
    padding: 10px;
    background: transparent;
    border-radius: 50%;
    transition: background 0.3s;
}

.seta-esquerda:hover, .seta-direita:hover {
    background: transparent;
}

.seta-esquerda {
    left: 10px;
}

.seta-direita {
    right: 10px;
}

.sobre {
    padding: 80px 0;
    background: #f9f9f9;
    color: #333;
    font-family: 'Arial', sans-serif;
    position: relative;
    overflow: hidden;
}

.add-to-cart{
    background: #8aae28;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.add-to-cart:hover {
    background: #6f8f1f;
    cursor: pointer;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.footer-section h3 {
    color: #8aae28;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

/* Responsivo */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .produtos-grid {
        grid-template-columns: 1fr;
    }

    .footer-content {
        grid-template-columns: 1fr;
    }
}